/*общие*/
body {
	margin: 0 auto;
}
.disabled {
	display: none;
}

.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.bold {
    font-weight: bold;
}
a {
	text-decoration: none;
}
h1, h2 {
	text-align: center;
}



/*шапка*/




header {
    background-color: #f0f;
}
.header_logo {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    padding: 15px 0;
}
.header_logo img {
    display: block;
    width: 115;
    height: 130;
    margin-right: 20px;
}
.header_logo div {
    margin: auto 0;
}
.header_logo_name {
    display: block;
    text-transform: uppercase;
	font-size: 30px;
    color: #fff;
}
.header_logo_studio {
    display: block;
    font-size: 20px;
    color: #fff;
}



.header_contacts {
    position: relative;
}
.header_adres {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.header_adres a {
    display: flex;
    margin: auto 0;
    font-family: sans-serif;
    color: #fff;
    text-transform: capitalize;
}
.header_adres a:before {
    content: "";
    background: url("../img/icon/place_ico.png");
	display: block;
	height: 21px;
	width: 21px;
	background-size: contain;
	background-repeat: no-repeat;
    filter: invert(1);
    margin-right: 5px;
}
.header_phone {
    display: flex;
    justify-content: center;
    height: 38px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 3;
}
.header_phone a {
    display: flex;
    margin: auto 0;
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}
.header_phone a:before {
	content: "";
	background: url("../img/icon/phone_ico.png");
	display: block;
    margin: auto 0;
	height: 22px;
	width: 22px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
}
.header_social {
    display: none;
}


/*меню*/


.nav_wrapper {
 	position: relative;
}
.nav_burger_wrapper {
	height: 32px;
	width: 32px;
	background: url("../img/icon/burger_ico.gif");
	background-size: contain;
	display: block;
	position: fixed;
	right: 8px;
	top: 3px;
    z-index: 5;
}
nav {
	display: none;
	background-color: #DA70D6;
    width: 60%;
    text-align: center;
    z-index: 4;
}
nav ul {
    margin: 0;
	padding: 0;
}
nav li {
    list-style-type: none;
}
#nav_burger {
	display: none;
}
#nav_burger:checked ~ nav {
	display: block;
    position: fixed;
    top: 0;
    right: 0;
}
#nav_burger:checked ~ .nav_burger_wrapper {
	background: url("../img/icon/close_menu_ico.png");
	height: 32px;
	width: 32px;
	background-size: contain;
    filter: invert(1);
}
.menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    border-bottom: 1px solid #fff;
}



/*главная*/

.service_card {
    display: block;
    margin-bottom: 40px;
    background: #F5F5F5;
    text-align: center;
    padding-bottom: 20px;
}
.service img {
    filter: drop-shadow(0 0 40px #464646);
}
.service_name {
    display: block;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 20px 0;
}
.service_price {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    color: #f00;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.service_price:before {
    content: "от";
    color: #262626;
    font-weight: 300;
    margin-right: 5px;
}
.service_price:after {
    content: "";
    background: url("../img/icon/rouble.png");
	display: block;
    margin: auto 0;
	height: 25px;
	width: 25px;
	background-size: contain;
	background-repeat: no-repeat;
}






/*














.service_card img {
	height: auto;
	width: 100%;
	filter: drop-shadow(0 0 30px #000);
}



.video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:25px;
    height:0;
}
.video iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


@media (min-width: 500px) and (max-width: 600px) {
    
}*/
