/*общие*/

body {
    margin: 0 auto;
}
.disabled {
	display: none;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.bold {
    font-weight: bold;
}
a {
	text-decoration: none;
}
.content_wrapper {
    display: flex;
    max-width: 1500px;
    margin: 10px 50px;
}
.content {
    margin-left: 50px;
    width: 100%;
}






/*шапка*/

header {
    background-color: #DA70D6;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.header_logo {
    display: flex;
    justify-content: center;
}
.header_logo img {
    display: block;
    width: 115;
    height: 130;
    margin-right: 20px;
}
.header_logo div {
    margin: auto 0;
}
.header_logo_name {
    display: block;
    text-transform: uppercase;
	font-size: 40px;
    color: #fff;
    text-align: center;
}
.header_logo_studio {
    display: block;
    font-size: 20px;
    color: #fff;
}




.header_contacts {
    margin: auto 0;
}
.header_phone {
    display: flex;
    justify-content: center;
    height: 32px;
    width: 100%;
    margin: 10px 0;
}
.header_phone a {
    display: flex;
    margin: auto 0;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    pointer-events: none;
    cursor: default;
}
.header_phone a:before {
	content: "";
	background: url("../img/icon/phone_ico.png");
	display: block;
    margin: auto 0;
	height: 23px;
	width: 23px;
	background-size: contain;
	background-repeat: no-repeat;
    filter: invert(1);
    margin-right: 10px;
}
.header_social {
	display: flex;
    justify-content: flex-end;
}
.header_social a {
	display: block;
	margin: auto 10px;
}
.header_vk {
	height: 32px;
	width: 32px;
	background: url("../img/icon/vk_ico.png");
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert(1);
}
.header_instagram {
	height: 23px;
	width: 23px;
	background: url("../img/icon/instagram_ico.png");
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert(1);
}
.header_youtube {
	height: 30px;
	width: 30px;
	background: url("../img/icon/youtube_ico.png");
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert(1);
}
.header_vk:hover,
.header_instagram:hover,
.header_youtube:hover {
	filter: invert(0.3);
}
.header_vk:active,
.header_instagram:active,
.header_youtube:active {
	filter: invert(0);
}




/*меню*/


.nav_wrapper {
    width: 300px;
    background-color: #464646;
}
#nav_burger {
	display: none;
}
.menu {
    font-size: 15px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
}
.menu li {
    list-style-type: none;
    padding: 10px;
}
.menu a {
    color: #fff;
    font-weight: bold;
}
.menu_service_submenu {
    display: none;
    padding-top: 10px;
    padding-bottom: 0;
}
.menu_service_wrapper {
    cursor: pointer;
    display: flex;
    color: #fff;
    font-weight: bold;
}
.menu_service_wrapper:before {
    content: "";
	background: url("../img/icon/burger_ico.gif");
	display: block;
	height: 17px;
	width: 17px;
	background-size: contain;
	background-repeat: no-repeat;
    filter: invert(1);
    margin-right: 5px;
}
#menu_service {
	display: none;
}
#menu_service:checked ~ .menu_service_submenu {
	display: block;
}
#menu_service:checked ~ .menu_service_wrapper:before {
    background: url("../img/icon/close_menu_ico.png");
	height: 17px;
	width: 17px;
	background-size: contain;
    filter: invert(1);
}
.menu a:hover,
.menu_service_wrapper:hover {
    color: #a9a9a9;
}
.menu_service_wrapper:hover:before,
#menu_service:checked:hover ~ .menu_service_wrapper:before {
    filter: invert(0.65);
}
.menu a:active,
.menu_service_wrapper:active {
    color: #000;
}
.menu_service_wrapper:active:before,
#menu_service:checked:active ~ .menu_service_wrapper:before {
    filter: invert(0);
}



/*главная*/



.service {
    width: 878px;
    margin: 0 auto;
}
.service_card {
    display: inline-block;
    margin: 10px;
    background: #F5F5F5;
    text-align: center;
    padding: 10px;
    width: 250px;
}
.service_card:hover.service_card img {
    transform: scale(1.1);
}
.service_card:hover .service_name {
    text-decoration: underline;
}
.service img {
    filter: drop-shadow(0 0 40px #464646);
    width: 250px;
    height: auto;
}
.service_name {
    display: block;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 20px 0;
}
.service_price {
    display: flex;
    justify-content: flex-end;
    color: #DA70D6;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}
.service_price:before {
    content: "от";
    color: #262626;
    font-weight: 300;
    margin-right: 5px;
}
.service_price:after {
    content: "";
    background: url("../img/icon/rouble.png");
	display: block;
    margin: auto 0;
	height: 22px;
	width: 22px;
	background-size: contain;
	background-repeat: no-repeat;
}










@media (max-width: 1294px) {
    .service {
        width: 584px;
    }
}


/*

}
.service_card {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	margin: 30px;
}
.service_card:hover {
	background: rgba(255, 255, 255, 0.2);
    color: #363636;
}
.service_card:active {
	filter: brightness(0.5);
}
.service_card span {
	display: block;
	text-transform: uppercase;
	margin: 20px auto;
}
.service_card img {
	height: 282px;
	width: 350px;
	filter: drop-shadow(0 0 30px #000);
}
@media (min-width: 992px) {
    
}
@media (min-width: 1200px) {
    
}*/