/*общие*/

body {
    margin: 0 auto;
}
.disabled {
	display: none;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.bold {
    font-weight: bold;
}
a {
	text-decoration: none;
}
.content_wrapper {
    display: flex;
    max-width: 1500px;
}
.content {
    width: 100%;
}
h1 {
    font-family: sans-serif;
    font-size: 25px;
}
.content_caption {
    font-family: sans-serif;
    font-size: 25px;
    display: block;
    font-weight: bold;
    margin: 50px 50px 20px;
}




/*шапка*/

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid #D3D3D3;
    box-shadow: 0 6px 6px -4px #DCDCDC;
    min-width: 864px;
}
.header_logo {
    display: flex;
    justify-content: center;
}
.header_logo img {
    display: block;
    width: 160px;
    height: 70px;
    margin-right: 20px;
}
.header_logo_name {
    display: block;
    font-weight: bold;
    font-family: sans-serif;
    margin: auto 0;
}
.header_adres {
    display: block;
    color: #000;
    font-family: sans-serif;
    margin: auto 0;
}
.header_adres:hover {
    color: #a9a9a9;
}
.header_adres:active {
    color: #000;
}
.header_social {
	display: flex;
    justify-content: space-between;
}
.header_social a {
	display: block;
	margin: auto 10px;
}
.header_vk {
	height: 30px;
	width: 30px;
	background: url("../img/icon/vk_ico.png");
	background-size: contain;
	background-repeat: no-repeat;
	filter: grayscale(100%);
    transition: 0.6s;
}
.header_instagram {
	height: 30px;
	width: 30px;
	background: url("../img/icon/instagram_ico.png");
	background-size: contain;
	background-repeat: no-repeat;
	filter: grayscale(100%);
    transition: 0.6s;
}
.header_youtube {
	height: 30px;
	width: 30px;
	background: url("../img/icon/youtube_ico.png");
	background-size: contain;
	background-repeat: no-repeat;
	filter: grayscale(100%);
    transition: 0.6s;
}
.header_vk:hover,
.header_instagram:hover,
.header_youtube:hover {
	filter: none;
}
.header_vk:active,
.header_instagram:active,
.header_youtube:active {
	filter: grayscale(50%);
}
.header_tel {
    margin-bottom: 10px;
}
.header_tel a {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    pointer-events: none;
    cursor: default;
    color: #000;
}
.header_mail a {
    font-family: sans-serif;
    color: #000;
    display: flex;
    height: 25px;
    line-height: 25px;
}
.header_mail a:hover {
    color: #a9a9a9;
}
.header_mail a:active {
    color: #000;
}
.header_mail a:before {
    content: "";
	background: url("../img/icon/question.png");
	display: block;
    margin: auto 0;
	height: 25px;
	width: 25px;
	background-size: contain;
	background-repeat: no-repeat;
    margin-right: 10px;
}
.header_mail:hover.header_mail a:before {
    filter: invert(0.5);
}
.header_mail:active.header_mail a:before {
    filter: invert(0);
}






/*меню*/

aside {
    border-right: 1px solid #D3D3D3;
}
.nav_wrapper {
    height: 100%;
    width: 300px;
    margin-top: 10px;
}
#nav_burger {
	display: none;
}
.menu {
    font-size: 18px;
    font-family: sans-serif;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}
.menu li {
    list-style-type: none;
    border-bottom: 1px solid #D3D3D3;
}
.menu a {
    display: block;
    font-weight: bold;
    color: #000;
    width: 100%;
    height: 35px;
    padding-left: 30px;
    line-height: 35px;
}
.menu a:hover {
    color: #a9a9a9;
}
.menu a:active {
    color: #000;
}



/*главная*/





.offer_content {
    margin: 0 auto;
    background: url(../img/offer/offer.jpg);
    background-size: contain;
	background-repeat: no-repeat;
    display: block;
    height: 451px;
    width: 940px;
}
.service {
    width: 878px;
    margin: 0 auto;
    
}
.service_card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 250px;
    
}
.service_card:hover.service_card img {
    transform: scale(1.2);
    transition: 0.8s;
}
.service_card:hover .service_name {
    color: #a9a9a9;
}
.service img {
    filter: drop-shadow(0 0 40px #464646);
    width: 100%;
    height: auto;
}
.service_name {
    display: block;
    color: #000;
    text-transform: capitalize;
    font-size: 25px;
    font-family: sans-serif;
    margin: 15px 20px;
    text-align: center;
}






.index_contact_form {
    background: #DDA0DD;
    font-family: sans-serif;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
}
.index_contact_form span {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    display: flex;
    margin-bottom: 15px;
    height: 42px;
    line-height: 42px;
}
.index_contact_form span:before {
    content: "";
	background: url("../img/icon/edit.png");
	display: block;
    margin: auto 0;
	height: 42px;
	width: 42px;
	background-size: contain;
	background-repeat: no-repeat;
    margin-right: 10px;
    filter: invert(1);
}
.index_contact_form input,
.index_contact_form textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 15px;
    border: 0;
}
.index_contact_form input:focus,
.index_contact_form textarea:focus,
.submit:focus {
    outline: none;
}
.submit {
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #fff;
    border-radius: 10px;
    background: #DDA0DD;
    color: #fff;
    display: block;
    width: 250px;
    height: 50px;
    margin-top: 20px;
}
.submit:hover {
    color: #000;
    background: #fff;
    cursor: pointer;
}




.index_map {
    display: block;
    height: 451px;
    width: 940px;
    margin: 0 auto 50px;
}
.index_map_m {
    display: none;
}





/*подвал*/


footer {
    font-family: sans-serif;
    background: #666;
    padding-top: 15px;
}
.footer_button {
    color: #fff;
    font-size: 18px;
    display: flex;
    margin-left: 30px;
    width: 200px;
}
.footer_button:before {
    content: "";
    display: block;
    height: 18px;
	width: 18px;
	background: url("../img/icon/arrow_up.png");
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert(1);
    margin-right: 10px;
}
.footer_middle {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.footer_contacts {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}
.footer_tel {
    margin-bottom: 10px;
}
.footer_tel {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    pointer-events: none;
    cursor: default;
    color: #fff;
}
.footer_mail {
    font-family: sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
}
.footer_mail:active {
    color: #000;
}
.footer_mail:before {
    content: "";
	background: url("../img/icon/email.png");
	display: block;
    margin: auto 0;
	height: 32px;
	width: 32px;
	background-size: contain;
	background-repeat: no-repeat;
    margin-right: 10px;
    filter: invert(1);
}
.footer_mail:active.footer_mail:before {
    filter: invert(0);
}







.footer_copyright {
    background: #464646;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    text-align: center;
    display: block;
}

.footer_social {
	display: flex;
}
.footer_social a {
	display: block;
	margin: auto 20px;
}
.footer_vk {
	height: 34px;
	width: 48px;
	background: url("../img/icon/vk_ico.png");
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert(0.8);
}
.footer_instagram {
	height: 26px;
	width: 26px;
	background: url("../img/icon/instagram_ico.png");
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert(0.8);
}
.footer_youtube {
	height: 31px;
	width: 31px;
	background: url("../img/icon/youtube_ico.png");
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert(0.8);
}
.footer_vk:active,
.footer_instagram:active,
.footer_youtube:active {
	filter: invert(0);
}





@media (max-width: 1294px) {
    .service {
        width: 584px;
    }
    .offer_content,
    .index_map {
        height: 299px;
        width: 623px;
    }
}


/*

}
.service_card {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	margin: 30px;
}
.service_card:hover {
	background: rgba(255, 255, 255, 0.2);
    color: #363636;
}
.service_card:active {
	filter: brightness(0.5);
}
.service_card span {
	display: block;
	text-transform: uppercase;
	margin: 20px auto;
}
.service_card img {
	height: 282px;
	width: 350px;
	filter: drop-shadow(0 0 30px #000);
}
@media (min-width: 992px) {
    
}
@media (min-width: 1200px) {
    
}*/